footer {
    border: 2px solid darkslategray;
    text-align: right;
    padding: 20px;
    /* display: flex;
    justify-content: flex-end; */
}

#copyright {
    display: flex;
    justify-content: flex-end;
}

#about-link {
    display: flex;
    justify-content: flex-end;
}