/* You can add global styles to this file, and also import other style files */
body {
    background-color: #e3a891;
}

button {
    border: none;
    color: white;
    position: relative;
    padding-top:5px; 
    padding-bottom:5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    box-shadow: 3px 3px 2px grey;
}

.todo-item {
    /* border: black; */
    color: darkslategray;
    font-weight: bold;
}


.todo-border {
    /* border: 2px solid darkslategray; */
    padding: 20px;
}

.entire-page {
    border: 2px solid white;
}
